apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-recreate
  namespace: deploy-lab
spec:
  replicas: 2
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: app-recreate
  template:
    metadata:
      labels:
        app: app-recreate
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80