apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-rolling
  namespace: deploy-lab
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: app-rolling
  template:
    metadata:
      labels:
        app: app-rolling
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 80